<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>Home page, Vali!!!</div>

    <form action="/play">
        <button type="submit">Click me to play</button>
    </form>

</body>
</html>