<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/styles/style.css" />

</head>
<body>

    <div>
        <div>Click to start game</div>
        <button onclick="startGame()">START</button>
    </div>
    <div>
        <button onclick="checkSanity()">CheckMySanity</button>
    </div>


    <div class="board">

        <div class="row 1">
            <div class="square" id="11"></div>
            <div class="square" id="12">12</div>
            <div class="square" id="13"></div>
            <div class="square" id="14"></div>
            <div class="square" id="15"></div>
            <div class="square" id="16"></div>
            <div class="square" id="17"></div>
            <div class="square" id="18"></div>
        </div>
        <div class="row 2">
            <div class="square" id="21"></div>
            <div class="square" id="22"></div>
            <div class="square" id="23"></div>
            <div class="square" id="24"></div>
            <div class="square" id="25"></div>
            <div class="square" id="26"></div>
            <div class="square" id="27"></div>
            <div class="square" id="28"></div>
        </div>
        <div class="row 3">
            <div class="square" id="31"></div>
            <div class="square" id="32"></div>
            <div class="square" id="33"></div>
            <div class="square" id="34"></div>
            <div class="square" id="35"></div>
            <div class="square" id="36"></div>
            <div class="square" id="37"></div>
            <div class="square" id="38"></div>
        </div>
        <div class="row 4">
            <div class="square" id="41"></div>
            <div class="square" id="42"></div>
            <div class="square" id="43"></div>
            <div class="square" id="44"></div>
            <div class="square" id="45">45</div>
            <div class="square" id="46"></div>
            <div class="square" id="47"></div>
            <div class="square" id="48"></div>
        </div>
        <div class="row 5">
            <div class="square" id="51"></div>
            <div class="square" id="52"></div>
            <div class="square" id="53"></div>
            <div class="square" id="54"></div>
            <div class="square" id="55"></div>
            <div class="square" id="56"></div>
            <div class="square" id="57">57</div>
            <div class="square" id="58"></div>
        </div>
        <div class="row 6">
            <div class="square" id="61"></div>
            <div class="square" id="62"></div>
            <div class="square" id="63"></div>
            <div class="square" id="64"></div>
            <div class="square" id="65"></div>
            <div class="square" id="66"></div>
            <div class="square" id="67"></div>
            <div class="square" id="68"></div>
        </div>
        <div class="row 7">
            <div class="square" id="71" ></div>
            <div class="square" id="72" ></div>
            <div class="square" id="73" ></div>
            <div class="square" id="74" ></div>
            <div class="square" id="75" ></div>
            <div class="square" id="76" ></div>
            <div class="square" id="77" ></div>
            <div class="square" id="78" ></div>
        </div>
        <div class="row 8">
            <div class="square" id="81">81</div>
            <div class="square" id="82"></div>
            <div class="square" id="83"></div>
            <div class="square" id="84"></div>
            <div class="square" id="85">85</div>
            <div class="square" id="86"></div>
            <div class="square" id="87"></div>
            <div class="square" id="88">88</div>
        </div>

    </div>


</body>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="/static/scripts/frontEndLogic.js"></script>
<script src="/static/scripts/pieceMovement.js"></script>
</html>